.game {

  &-tabs {
    background: rgb(63 81 181 / 61%);
    color: #fff;
    text-align: left;
    display: flex;

    &-par {
      padding: 20px 20px 0 20px;
      margin-bottom: 0;
    }

    &-link {
      color: #fff;
    }

    &-votes {
      margin-left: 20px;
      display: flex;

      &-count {
        margin-left: 5px;
      }
    }

    :host .mat-tab-labels-active {
      justify-content: center;
      border-width: 9px;
      border-style: solid;
      border-color: orange;
    }
  }

  &-votes {
    &-up {
      color: #5ee432;
    }

    &-down {
      color: #ef4655;
    }

    &-count {
      margin-left: 5px;
      margin-right: 10px;
      vertical-align: super;
    }
  }

  &-description {
    padding: 20px;
  }

  &-screenshot {
    margin-top: 5px;
    width: calc(50% - 10px);

    &:nth-child(even) {
      margin-left: 10px;
    }
  }

  &-trailer {
    width: 100%;
    margin: 20px 0;
  }
}
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!


@import './my-custom-elements.scss';

@include custom-tabs-theme();
