<div class="game-tabs" >
  <mat-tab-group mat-align-tabs="start" backgroundColor="primary" >

    <ng-template style="border-width: 9px; border-style: solid; border-color: red;">
      <mat-tab label="Thiết lập" >


      </mat-tab>
    </ng-template>
    <mat-tab label="Nghiệp vụ">

    </mat-tab>

    <mat-tab label="Quản lý">

    </mat-tab>

    <mat-tab label="Báo cáo">

    </mat-tab>

    <mat-tab label="Khai báo thuế">

    </mat-tab>

    <mat-tab label="Quản lý đặc thù">

    </mat-tab>

    <mat-tab label="Giá thành">

    </mat-tab>

    <mat-tab label="Hỗ trợ">

    </mat-tab>

  </mat-tab-group>
</div>
